mixin values(data, mods)
  -
    const baseName = 'values'
    let allMods = ''
    if (typeof mods !== 'undefined' && mods) {
      const modsList = mods.split(',')
      for (const element of modsList) {
        allMods += element.trim()[0] === '-' ? ' ' + baseName + element.trim() : ' ' + element.trim() + '__' + baseName
      }
      allMods = allMods.trim()
    }

  .values(class=allMods)&attributes(attributes)
    .values__pin
      .inner.values__inner
        if data.title
          +ui-h2(data.title, 'values')
        .values__container
          each item, index in data.items
            .values__item(class=item.mods)
              .values__index 0!{index+1}
              .values__content
                .values__title(class=item.titleMods) !{item.title}
                .values__descr(class=item.descrMods) !{item.descr}
              .values__img: img(src=item.img alt=item.title)
    block
